<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log In | Tyto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/Tyto_logo_simple.png">
        <link rel="stylesheet" href="/templates/login.css">
    </head>
    <body>
        <div>
            <img src="/static/Tyto_logo_simple.png">
        </div>
        <div class="greeting">
            <h1>Tyto</h1>
            <p>Every Video Feed | Every Protocol</p>
        </div>
        <div class="login">
            <!--<p>Log into Tyto</p>-->
            <form method="post">
                <p>User</p>
                <label for="username"><input class="input" id="username" name="username" type="text"  /></label>
                <p>Password</p>
                <label for="password"><input class="input" id="password" name="password" type="password" pattern="[a-z0-5]{8,}"  /></label>
                <p>Verify Password</p>
                <label for="password"><input class="input" id="password" name="password" type="password" pattern="[a-z0-5]{8,}"  /></label>
                <label><input class="button" type="submit" id="sub" name="subm" value="Create Account"></label>
            </form>
        </div>
        <div class="createaccount">
            <a href="/templates/login.html">Login</a>
        </div>
    </body>
</html>